In [52]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5590 sha256=d13ef705e2fb56f436de47b2476a0bcde24ad4706538875a1386ac2798ff596a
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\29\85\cd\a78aeab138a03ac89a6ed4f8f00665d5ceb7ac0318c837a086
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [53]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
from word2number import w2n
data=pd.read_csv(r"C:\Users\Admin\homeprices.csv")

In [3]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
import math
median_bedrooms=math.floor(data.bedrooms.median())

In [8]:
median_bedrooms

4

In [14]:
data.bedrooms=data.bedrooms.fillna(median_bedrooms)

In [15]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
lr=linear_model.LinearRegression()

In [17]:
lr.fit(data[['area','bedrooms','age']],data.price)

LinearRegression()

In [27]:
lr.predict([[3000,3,15]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([579201.19929613])

In [25]:
lr.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [32]:
d=pd.read_csv(r"C:\Users\Admin\hiring.csv")
d

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [46]:
median_testscore=math.floor(d['test_score(out of 10)'].median())

In [47]:
d['test_score(out of 10)']=d['test_score(out of 10)'].fillna(median_testscore)

In [48]:
d

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [49]:
d.experience=d.experience.fillna('zero')

In [50]:
d

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [55]:
d.experience=d.experience.apply(w2n.word_to_num)

In [56]:
d

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [57]:
lr.fit(d[['experience','test_score(out of 10)','interview_score(out of 10)']],d['salary($)'])

LinearRegression()

In [58]:
lr.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [59]:
lr.intercept_

17737.263464337688

In [61]:
lr.predict([[2,9,6]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [63]:
lr.predict([[12,10,10]])

TypeError: RegressorMixin.score() missing 1 required positional argument: 'y'