In [3]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

data=pd.read_csv(r"C:\Users\Admin\Decision_Tree_ Dataset.csv",)

In [4]:
data

       1      2    3     4    sum Unnamed: 5
0    201  10018  250  3046  13515        yes
1    205  10016  395  3044  13660        yes
2    257  10129  109  3251  13746        yes
3    246  10064  324  3137  13771        yes
4    117  10115  496  3094  13822        yes
..   ...    ...  ...   ...    ...        ...
995  413  14914  523  4683  20533         No
996  359  14423  927  4838  20547         No
997  316  14872  613  4760  20561         No
998  305  14926  897  4572  20700         No
999  168  14798  834  4937  20737         No

[1000 rows x 6 columns]

In [6]:
print("Length::",len(data))

Length:: 1000

In [7]:
print("Shape::",data.shape)

Shape:: (1000, 6)

In [8]:
print("Datset:: ")
data.head()

Datset::

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [14]:
X=data.values[:,0:4]
Y=data.values[:,0]

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=100)
clf_entropy=DecisionTreeClassifier(criterion="entropy", random_state=100, max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train,y_train)

ValueError: Unknown label type: 'unknown'